body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  background-image: radial-gradient(circle at 107.92% 9.44%,#45dcf0 0,  #45dcf0 16.67%,  #40f7ed 33.33%, #8af8f3  50%,  #0fcfc6 66.67%,  #40f7ed  83.33%,  #95e7f1 100%);
}

h1 {
  color: #3f3939;
  text-align: center;
  margin-top: 30px;
}

form {
  margin: 20px auto;
  width: 400px;
  border: 4px solid #3a0f0f;
  border-radius: 5px;
  padding: 20px;
  background-color: #fff;
}

form input[type="text"], form select {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

form input[type="submit"] {
  background-color: #428bca;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

#tablaRegistros {
  margin: 20px auto;
  width: 80%;
  border-collapse: collapse;
}

.imagen{
  top:-27px;
  position: absolute;
  height: 105px;
  left: 4px;
}

p{
  color: #fff;
}

li{
  color: #fff;
}

nav{
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #24252a;
  padding-left: 2vw;
  height: 70px;
}


.cont-ul{
  display: flex;
  align-items: center;
}
li {
  list-style: none;
  cursor: pointer;
  padding: 1.5vw;
  transition: all .3s ease 0s;
}   
li:hover {
  background-color: #583807;
}
.develop {
  position: relative;
}

.ul-second {
  display: none;
  position: absolute;
  margin-top: 1.5vw;
}
.ul-second > li {
  width: 190px;
  transform: translateX(-20px);
  border-bottom:solid 1px #fff ;
  text-align: center;
  background-color: #8f5b0e;
}
.ul-second > li:hover {
  background-color: #8f5b0e;
}
develop:hover > .ul-second {
  display: block;
}
.ul-third {
  position: absolute;
  transform: translateX(100%);
  right: 0;
  top: 40%;
  display: none;
  background-color: #24252a;
}
.ul-third > li {
  padding: 1.5vw;
  border-bottom: solid 1px #fff;
}
.front:hover > .ul-third {
  display: block;
}

@media (max-width:900px) {
  .TI-danicodex {
  display: none;
}
}
          
#tablaRegistros th, #tablaRegistros td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

#tablaRegistros th {
  background-color: #428bca;
  color: #fff;
}
