/* Estilos generales */
body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
}

h1 {
	text-align: center;
	margin-top: 50px;
}

#tablaRegistros {
	margin: 50px auto;
	width: 80%;
}

/* Estilos de la tabla de registros */
table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	padding: 10px;
	text-align: center;
	border: 4px solid #97a4f0;
}

th {
	background-color: #aceaec;
	font-weight: bold;
}

tr:nth-child(even) {
	background-color: #76f1d3;
}
