
:root{
    --colorTextos:#5e5d5d;;
    
    
    }
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
    body{
        font-family: Arial, Helvetica, sans-serif;
        background-image: radial-gradient(circle at 107.92% 9.44%,#45dcf0 0,  #45dcf0 16.67%,  #40f7ed 33.33%, #8af8f3  50%,  #0fcfc6 66.67%,  #40f7ed  83.33%,  #95e7f1 100%);


    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    h1{
        font-family: 'Arial';
    text-align: center;
    font-weight: 700;
    
    
    }
    
    @keyframes floating {
        0% { transform: translate(0,  0px); }
        50%  { transform: translate(0, 15px); }
        100%   { transform: translate(0, -0px); }   
    }
    
    form{
        margin-top: 100px;
    background: #fff;
    padding: 25px 0;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    position : relative;
    width: 100%;
    max-width: 500px;
    
    }
    
    .form{
    
        width: 500px;
        margin: auto;
    
    }
    
    
    form .grupo{
    position: relative; 
    margin: 35px;
    
    }
    
    input{
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
    
    }
    
    input:focus{
        outline: none;
        color: #5e5d5d;
    }
    
    label{
        color: var(--colorTextos);
        font-size: 16px;
        position:absolute;
        
        left: 5px;
        top: 10px;
        transition: 0.5s ease-in-out all;
        pointer-events: none;
    }
    
    input:focus~label,
    input:valid~label{
        top: -14px;
        font-size: 12px;
        color: #3a2dec;
      
    }
    
    .barra{
    position: relative;
    display: block;
    width: 100%;
    
    
    }
    .barra::before{
    
        content:"";
        height: 2px;
        width: 0%;
        bottom: 0%;
        position: absolute;
        background-image: radial-gradient(circle at 107.92% 9.44%,#45dcf0 0,  #45dcf0 16.67%,  #40f7ed 33.33%, #8af8f3  50%,  #0fcfc6 66.67%,  #40f7ed  83.33%,  #95e7f1 100%);

        transition: 0.3s ease width;
        left: 0;
    }
    
    input:focus~.barra::before{
        
    width: 100%;
    
    }
    .warnings{
        font-family: 'arial';
    width: 300px;
    text-align: center;
    margin: auto;
    color: #ff0000;
    padding-top: 20px 0;
    
    }
    
    button{
    font-family: 'roboto';
    background-image: radial-gradient(circle at 107.92% 9.44%, #7918d4 0, #1764f3 16.67%, #2891f3 33.33%, #5099fa 50%, #2891f3 66.67%, #1764f3 83.33%, #7918d4 100%);
    border:none;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: rgb(0, 0, 0);
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    
    }

    
    
.contenedor-imagenes {
    position: fixed;
    left: 45px;
    width: 500px;
    margin-top: 0%;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

 .imagen-arriba {
   
  width: 350px;
  height: auto;
  margin-bottom: 100px; /* agregar margen inferior de 10 píxeles */
  margin-right: 0; /* reducir la separación horizontal */
}
    
.imagen-abajo {
    width: 250px;
    height: auto;
    margin-left: 1080px; /* mover la imagen de abajo hacia la derecha */
    margin-top: 50px; /* mover la imagen de abajo hacia abajo en 20 píxeles */
}  
