@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background: #51c8ff;
}
.container-card{
    width: 100;
    display: flex;
    max-width: 100px;
    margin: auto;
}
.title-cards{
    width: 100%;
    font-size: 26px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    color: #000000
}
.card{
    position: absolute;
    right: 750px;
    top: 87px;
    height: 60%;
    width: 25%;
    margin: 100px;
    border-radius: 6px;
    overflow: hidden;
    background: rgb(231, 231, 231);
    box-shadow: 0px 1px 10px rgb(0,0,0,0.2);
    transition: all 400ms ease-out;
    cursor: default;
}
.card:hover{
    box-shadow: 5px 5px 20px rgb(0,0,0,0.4);
    transform: translateY(-3%);
}
.card img{
    width: 100%;
    height: 210px;
}
.card .contenido-card{
    padding: 15px;
    text-align: center;
}
.card .contenido-card h3{
    margin-bottom: 15px;
    color: #000000;
}
.card .contenido-card p{
    line-height: 1.8;
    color: #000000;
    font-size: 14px;
    margin-bottom: 5px;
}
.card .contenido-card a{
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: #1f5419;
    border: 1px solid #1f5419;
    border-radius: 4px;
    transition: all 400ms ease;
    margin-bottom: 5px;
}
.card .contenido-card a:hover{
    background: #1f5419;
    color: #fff;
}

@media only screen and (min-width:320px) and (max-width:768px){
    .container-card{
        flex-wrap: wrap;
    }
    .card{
        margin: 15px;
    }
}

.card1{
    position: absolute;
    left: 680px;
    top: 87px;
    height: 60%;
    width: 25%;
    margin: 100px;
    border-radius: 6px;
    overflow: hidden;
    background: rgb(228, 228, 228);
    box-shadow: 0px 1px 10px rgb(0,0,0,0.2);
    transition: all 400ms ease-out;
    cursor: default;
}
.card1:hover{
    box-shadow: 5px 5px 20px rgb(0,0,0,0.4);
    transform: translateY(-3%);
}
.card1 img{
    width: 100%;
    height: 210px;
}
.card1 .contenido-card1{
    padding: 15px;
    text-align: center;
}
.card1 .contenido-card1 h3{
    margin-bottom: 15px;
    color: #000000;
}
.card1 .contenido-card1 p{
    line-height: 1.8;
    color: #000000;
    font-size: 14px;
    margin-bottom: 5px;
}
.card1 .contenido-card1 a{
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: #1f5419;
    border: 1px solid #1f5419;
    border-radius: 4px;
    transition: all 400ms ease;
    margin-bottom: 5px;
}
.card1 .contenido-card1 a:hover{
    background: #1f5419;
    color: #fff;
}
@media only screen and (min-width:320px) and (max-width:768px){
    .contenido-card1{
        flex-wrap: wrap;
    }
    .card1{
        margin: 15px;
    }
}